@model IEnumerable<EstaparApp.Models.Modelo>

@{
    ViewData["Title"] = "Modelo";
}

<h1>Modelos</h1>

<p>
    <a asp-action="Create">Novo Modelo</a>
</p>
<table id="modeloTable" class="table table-striped table-bordered" style="width:100%;height:80%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca.Nome)
                </td>
                <td>
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {

    <script>
        $(document).ready(function () {
            $('#modeloTable').DataTable();
        });
    </script>
}